.experience {
  display: flex;
  flex-direction: column;
  //   align-items: center;
  &-header {
    margin: 3rem 1rem;
    font-size: 35px;
  }
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    // background-color: chartreuse;
    padding: 0 1rem;
    border-left: 1px solid black;
    margin: 1rem;
    &-header {
      display: flex;
      align-items: flex-end;
      top: -14px;
      left: -28px;
      position: relative;
      font-size: 24px;
      //   margin-bottom: 5px;
    }
    &-location {
      padding: 0 1rem;
      margin-bottom: 10px;
      font-size: 18px;
    }
    &-description {
      padding: 0 1rem;
      font-size: 16px;
    }
  }
}
